* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar, .container {
    background-color: rgb(28, 28, 29);
    /* width: 800px; */
    border-radius: 3px;
}

.navbar {
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, input {
    height: 35px;
    padding: 0 1em;
}

.color {
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 5px;
    padding: 5px;

}

.pixel {
    background-color: rgb(61, 61, 61);
    width: 42px;
    height: 42px;
    border: 1px solid red;
    border-radius: 2px;
}